.login-wrapper,
.register-wrapper {
  p.subtitle {
    font-size: 0.85rem;
    color: $gray600;
  }
  textarea {
    margin-top: 0.5rem;
  }
  margin: 3rem 0;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  form {
    .cta-container {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 0.5rem;
    }
  }

  .recover-form-container {
    margin-top: 0.5rem;
  }

  .field-group.collapsable {
    padding: 0.5rem;
    background: $gray200;
    margin-bottom: 0.75rem;

    h3 {
      position: relative;
      padding-right: 2.5rem;
      font-size: 1.25rem;
      cursor: pointer;
      &:after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' class='iconify iconify--fe' width='32' height='32' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='m6 7l6 6l6-6l2 2l-8 8l-8-8z'%3E%3C/path%3E%3C/svg%3E");
        line-height: 0;
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
      }
    }

    p.subtitle {
      font-size: 0.85rem;
      color: $gray800;
    }

    .collapse-group {
      margin-top: 0.5rem;
    }

    &.collapsed {
      h3:after {
        transform: translateY(-50%);
      }
      .collapse-group {
        display: none;
      }
    }
  }
}
