.header-wrapper {
  padding: 1.25rem 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  color: $text-white;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    svg {
      width: 1.75rem;
      height: auto;
    }

    h3 {
      position: absolute;
      left: 0;
    }

    nav {
      padding: 1rem 2rem;
      ul {
        display: flex;
        justify-content: center;
        gap: 0.75rem;
        padding: 0;
        padding: 1rem 2rem;
        border-radius: 3rem;
        font-size: 0.875rem;
        background-color: $text-white;

        a {
          color: $text-black;
        }
        @include break-max(md) {
          display: none;
        }
      }
    }

    .right {
      position: absolute;
      right: 0;
      display: flex;
      a {
        color: $text-white;
        margin-left: 1rem;
      }
    }
  }
}

.mobile-nav {
  position: fixed;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 0.75rem;
  padding: 0;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: 0.875rem;
  background-color: $gray200;
  z-index: 3;

  @include break-min(md) {
    display: none;
  }
}
