.faq-wrapper {
  margin: 3rem 0;

  form#search-faq {
    margin-bottom: 2rem;
    display: flex;

    input {
      flex: 1;
      margin-right: 1rem;
      padding: 0.5rem 1.25rem;
    }
  }

  .items {
    .item {
      padding: 1rem 0.5rem;
      cursor: pointer;
      background-color: $gray100;

      &--nothing-found {
        button {
          margin-top: 1rem;
          margin-bottom: 2rem;
        }
      }

      &.collapsed {
        h3:after {
          transform: translateY(-50%);
        }
        .answer {
          max-height: 0;
          margin-top: 0;
        }
      }

      .answer {
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        margin-top: 0.5rem;
      }

      h3 {
        position: relative;
        padding-right: 2.5rem;
        font-size: 1.25rem;
        &:after {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' class='iconify iconify--fe' width='32' height='32' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='m6 7l6 6l6-6l2 2l-8 8l-8-8z'%3E%3C/path%3E%3C/svg%3E");
          line-height: 0;
          position: absolute;
          right: 0.5rem;
          top: 50%;
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }
}
