.cart-wrapper {
  table.cart-items {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;

    tbody {
      tr {
        th,
        td {
          padding: 0.5rem;
          text-align: left;
          padding-left: 0;
        }

        th {
          border-bottom: 1px solid #ddd;
        }

        td {
          &.item--remove a.btn {
            margin-left: auto;
          }
        }
      }
    }
  }

  form {
    .form-footer {
      margin-top: 2rem;
      max-width: 20rem;

      select {
        width: max-content;
      }

      textarea {
        max-width: 100%;
        min-width: 100%;
      }
    }
  }
}
