.product-card {
  h4,
  p,
  img {
    margin: 1rem 0;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    object-position: bottom;

    @include break-max(sm) {
      height: 500px;
    }
  }

  p.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .add-to-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.column {
      flex-direction: column;
      align-items: unset;
      gap: 0.5rem;
    }

    .price {
      font-weight: 800;
    }
  }
}
