.wrapper {
  margin: 6rem 0;

  &.orange,
  &.green,
  &.red {
    margin: 0;
    padding: 6rem 0;
  }

  &.orange {
    background-color: $base-orange;
  }

  &.red {
    background-color: $base-red;
  }

  &.green {
    background-color: $base-green;
  }
}

.container {
  @include break-min(lg) {
    max-width: 1358px;
  }
}
