.wrapper {
  margin: 6rem 0;

  &--sm {
    margin: 3rem 0;
  }

  &.orange,
  &.green,
  &.red {
    margin: 0;
    padding: 6rem 0;

    &--sm {
      padding: 3rem 0;
    }

    @include break-max(md) {
      padding: 4rem 0;

      &--sm {
        padding: 2rem 0;
      }
    }
  }

  &.orange {
    background-color: $base-orange;
  }

  &.red {
    background-color: $base-red;
    color: $text-white;
  }

  &.green {
    background-color: $base-green;
  }

  @include break-max(md) {
    margin: 4rem 0;

    &--sm {
      margin: 2rem 0;
    }
  }
}

.container {
  @include break-min(lg) {
    max-width: 1358px;
  }
}

.hidden {
  display: none;
}
