body,
html {
  font-family: $font;
  font-size: 16px;
  color: $text-black;
}

a {
  color: $gray900;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  line-height: 130%;
  font-weight: 800;
}

h1 {
  font-size: $heading-1;
  @include break-max(md) {
    font-size: $heading-1_sm;
  }
}
h2 {
  font-size: $heading-2;
  @include break-max(md) {
    font-size: $heading-2_sm;
  }
}
h3 {
  font-size: $heading-3;
  @include break-max(md) {
    font-size: $heading-3_sm;
  }
}
h4 {
  font-size: $heading-4;
  @include break-max(md) {
    font-size: $heading-4_sm;
  }
}
h5 {
  font-size: $heading-5;
  @include break-max(md) {
    font-size: $heading-5_sm;
  }
}
h6 {
  font-size: $heading-5;
  @include break-max(md) {
    font-size: $heading-5_sm;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;

  .btn,
  button {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

button,
.btn,
%btn {
  display: block;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 0.25rem;
  font-family: $heading-font;
  font-weight: 500;
  cursor: pointer;
  width: max-content;
  max-width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  font-size: 1rem;
  transition: background-color 300ms ease-in;

  background-color: $base-beige;
  color: $text-black;
  border: 2px solid $base-beige;

  &:hover {
    background-color: $base-beige__light;
  }

  &.red {
    background-color: $base-red;
    color: $text-white;
    border-color: $base-red;

    &:hover {
      background-color: rgba($base-red, 0.85);
    }
  }

  &.secondary {
    background-color: $text-white;
    border-color: $base-yellow-dimmed;

    &:hover {
      background-color: rgba($base-yellow-dimmed, 0.25);
    }

    &.red {
      background-color: $text-white;
      color: $text-black;
      border-color: $base-red;

      &:hover {
        background-color: rgba($base-red, 0.25);
      }
    }
  }
}
