<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="items">
        {% for block in section.blocks %}
          <div class="item collapsed">
            <h3>
              {{ block.settings.question }}
            </h3>
            <div class="answer">
              {{ block.settings.answer }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "FAQ",
    "class": "faq-wrapper wrapper",
    "tag": "section",
    "blocks": [
      {
        "type": "faq",
        "name": "FAQ",
        "settings": [
          {
            "label": "Vraag",
            "id": "question",
            "type": "richtext"
          },
          {
            "label": "Antwoord",
            "id": "answer",
            "type": "richtext"
          }
        ]
      }
    ]
  }
{% endschema %}
