<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="header-container">
        <h3>Bob's Flowers</h3>
        <nav>
          <ul>
            {% for link in section.settings.menu.links %}
              <a href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          </ul>
        </nav>
        <p>cart</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header-wrapper",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}
