<div class="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header-container">
            <a class="logo" href="/">
              <svg fill="none" height="55" viewBox="0 0 95 55" width="95" xmlns="http://www.w3.org/2000/svg"><ellipse cx="47.5" cy="27.5" fill="#EDCC93" rx="47.5" ry="27.5"/><g fill="#000"><path d="m29.6643 12.344c-3-.024-5.856.792-7.584 2.352-1.776 1.632-2.208 4.584.072 5.952.792.216 1.824-.528 1.944-1.224-1.392-3.048 1.776-5.16 5.424-5.112 2.472.024 3.984.984 3.504 2.808-.432 1.656-2.304 2.472-4.272 2.52.456-1.368.984-3 1.632-3.576-.048-.432-1.344-.864-2.136-.528-2.208 1.08-2.832 6.024-3.984 9.096-2.736-1.584-6.192-.888-6.312 1.848-.096 1.992 1.896 2.76 4.032 2.712 1.632-.024 2.832-.576 3.696-1.632 1.32 1.056 2.904 1.656 4.68 1.632 2.472-.024 4.512-1.296 5.136-3.816.528-2.232-.84-4.656-3.384-4.992 1.704-.024 3.672-1.152 4.056-3.072.576-3-2.544-4.944-6.504-4.968zm-1.44 8.88c.864-.072 1.584-.024 2.28.192 1.368.384 2.328 1.464 2.016 3.192-.648 3.432-3.792 3.192-5.904 1.416.6-1.368 1.08-3.144 1.608-4.8zm-6.096 4.296c.456.048 1.056.336 1.488.576-.408.72-1.008 1.08-1.56 1.176-1.968.312-1.824-1.968.072-1.752zm21.1274-6.768c-2.904.024-5.544 1.992-6.264 5.376-.816 3.768 1.176 5.112 3.696 5.112 1.608 0 3.024-.552 4.152-1.584 1.728.288 3.84.072 5.448-3.264.144-.288-.792-.816-.936-.528-.936 2.16-2.304 2.808-3.48 2.688 2.112-3.456 1.728-7.8-2.616-7.8zm-.408 1.944c1.536-.072 1.296 2.304.504 4.416-.744-.072-1.32.864-.888 1.56-.36.408-.84.648-1.296.648-1.464 0-1.224-1.752-.888-3.216.408-1.752 1.392-3.36 2.568-3.408zm10.1698 8.496c1.512 0 2.904-.528 4.008-1.488 1.728.288 3.96.048 5.568-3.312.144-.288-.816-.84-.936-.528-.936 2.16-2.256 2.76-3.528 2.712 1.968-2.832 2.112-7.056-1.152-7.632-1.176-.192-2.52.192-3.504.864.672-2.328 1.32-4.464 2.064-6.576-.096-.672-2.376-1.008-3.12-.528-.984 2.664-3.576 9.96-2.856 13.296.192 1.824 1.056 3.168 3.456 3.192zm0-1.872c-1.824-.312-.84-3.6-.096-5.544.84-.744 1.728-1.176 2.424-1.128 1.728.144.912 3.072.336 4.416-.72-.072-1.296.84-.912 1.536-.432.504-.96.864-1.752.72zm10.7587-9.648c1.464-1.008 2.52-2.88 2.568-4.584.024-.984-.528-1.584-1.392-1.584-.816.024-1.536.648-1.584 1.488-.024.648.36 1.176.888 1.368-.288.984-1.08 1.944-1.584 2.4-.456.384.432 1.344 1.104.912zm7.9472 11.616c1.56 0 2.928-.528 3.672-1.512 1.632.024 3.312-.696 4.608-3.384.12-.24-.792-.816-.912-.528-.888 1.944-2.088 2.664-3.144 2.712.504-2.28-.552-4.008-1.104-6.936 1.44-1.992-1.416-2.784-3.288-.96-1.608 1.536-3.048 3.96-3.984 5.928-.192.36.744.84.912.504.888-1.728 2.28-4.104 3.456-5.28.264 1.824 1.008 3.624 1.032 5.376-.72.072-1.032 1.128-.408 1.704-.192.24-.552.432-.912.432-.696 0-1.224-.6-1.2-1.368-.456-.288-1.536.096-1.752.792.192 1.728 1.704 2.52 3.024 2.52z"/><path d="m27.973 32.152c-1.696 1.696-3.12-.24-5.584.8-1.536.64-1.808 2.272-1.04 3.2.672.864 2.816 1.152 3.696.016.16-.208-.368-.992-.752-.72-.496.352-1.072.224-1.216-.112-.16-.288-.064-.752.384-1.04 1.184-.832 2.8.496 4.128-.72-.496 1.136-.832 2.24-1.328 3.968-.336.016-.752.016-1.152.016-.32.112-.528 1.024-.16 1.184.288.016.688 0 .96 0-.544 1.872-.912 3.12-1.76 3.12-.832 0-1.072-1.088-.304-1.984.352-.416-.704-1.12-1.136-.928-2.128 1.04-1.824 4.208 1.264 4.192 2.64-.032 3.168-1.52 4.064-4.4.384-.016.752-.016 1.168-.032.368-.256.384-.992.112-1.2-.336.016-.576.048-.896.032.72-2.336 1.232-3.952 1.696-5.216.144-.432-1.68-.688-2.144-.176zm5.3085.16c-1.344.832-2.352 3.024-2.864 5.312-.656 2.976-.528 5.264 1.76 5.504 2.256.24 3.376-1.36 4.304-3.2.08-.16-.528-.544-.608-.352-.752 1.504-1.904 2.384-2.88 2.32-1.056-.064-1.264-1.12-.912-2.688 2.24-.768 3.696-2.336 4.192-4.256.656-2.496-1.344-3.648-2.992-2.64zm1.184 1.072c.416 0 .288 1.008-.176 2.112-.384.928-1.136 1.984-1.952 2.464.256-.912.656-2.016.912-2.736.416-1.056.832-1.856 1.216-1.84zm5.5253 2.784c-1.936.016-3.696 1.328-4.176 3.584-.5441 2.512.784 3.408 2.464 3.408 1.072 0 2.016-.368 2.768-1.056 1.152.192 2.56.048 3.632-2.176.096-.192-.528-.544-.624-.352-.624 1.44-1.536 1.872-2.32 1.792 1.408-2.304 1.152-5.2-1.744-5.2zm-.272 1.296c1.024-.048.864 1.536.336 2.944-.496-.048-.88.576-.592 1.04-.24.272-.56.432-.864.432-.976 0-.816-1.168-.592-2.144.272-1.168.928-2.24 1.712-2.272zm9.8838 5.664c1.056.016 1.952-.32 2.704-1.056 1.408.288 2.992.272 4.176-2.128.08-.192-.512-.56-.608-.368-.816 1.728-1.856 1.968-2.816 1.776.896-1.04 1.744-3.072 1.792-4.752-.112-.576-1.84-.56-2.016-.192-.016 1.328-.656 3.136-1.2 4.032-.512-.24-1.04.4-.72.944-.224.256-.544.448-.832.448-.4 0-.384-.672-.112-1.76.288-1.248.72-2.336 1.104-3.424-.08-.544-1.696-.624-2-.208-.32 1.056-.688 2.192-1.072 3.28-.528 1.376-1.344 2.128-1.872 2.096-.464-.032-.384-.592-.24-1.312.272-1.312.736-2.672 1.088-3.824.032-.512-1.536-.72-2.016-.24-.432 1.392-.928 2.848-1.216 4.336-.256 1.344-.064 2.336 1.408 2.352.8.016 2.032-.336 2.96-1.808-.128 1.232.576 1.808 1.488 1.808zm10.3565-6.912c-2.064-.064-3.792 1.344-4.128 3.488-.288 1.76.64 3.392 3.216 3.456 1.696.032 3.456-.608 4.736-3.232.08-.176-.528-.56-.624-.352-.896 1.888-2.48 2.384-3.488 2.304-1.136-.064-1.744-.608-1.728-1.552 1.824.368 3.328-.192 3.904-1.376.624-1.2.032-2.688-1.888-2.736zm-.208 1.296c.448.016.48.464.304.896-.24.624-.944 1.136-2.016 1.024.272-1.12 1.04-1.984 1.712-1.92zm3.7769 2.896c.624-1.152 1.088-2.304 1.376-3.344.32.336.896.816.544 1.36-.608.928-1.296 2-1.296 2.992-.016 1.024.624 1.728 1.984 1.712 2.016 0 3.28-1.472 4.08-3.2.08-.16-.512-.544-.608-.352-.848 1.728-2.016 2.272-2.704 2.272-.496.016-.656-.32-.592-.752.08-.656.592-1.44 1.152-2.176.896-1.152-.784-2.112-1.76-3.056.608-2.384-2.848-1.392-1.408.768-.384 1.392-.784 2.256-1.376 3.44-.144.24.496.56.608.336zm8.5975 2.784c1.04 0 1.952-.352 2.448-1.008 1.088.016 2.208-.464 3.072-2.256.08-.16-.528-.544-.608-.352-.592 1.296-1.392 1.776-2.096 1.808.336-1.52-.368-2.672-.736-4.624.96-1.328-.944-1.856-2.192-.64-1.072 1.024-2.032 2.64-2.656 3.952-.128.24.496.56.608.336.592-1.152 1.52-2.736 2.304-3.52.176 1.216.672 2.416.688 3.584-.48.048-.688.752-.272 1.136-.128.16-.368.288-.608.288-.464 0-.816-.4-.8-.912-.304-.192-1.024.064-1.168.528.128 1.152 1.136 1.68 2.016 1.68z"/></g></svg>
            </a>
          <nav>
            <ul>
              {% for link in linklists.main-menu.links %}
                <li>
                  <a href="{{ link.url }}" class="{% if link.active %}active{% endif %}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
          <div class="right">
            <a href="/account">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--fe" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 12a4 4 0 1 1 0-8a4 4 0 0 1 0 8Zm0 3c3.186 0 6.045.571 8 3.063V20H4v-1.937C5.955 15.57 8.814 15 12 15Z"></path></svg>
            </a>
            <a href="/cart">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--fe" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M8 16h8a1 1 0 0 1 0 2H7a1 1 0 0 1-1-1V4H5a1 1 0 1 1 0-2h2a1 1 0 0 1 1 1v2.001L8.073 5h9.854C19.072 5 20 5.895 20 7c0 .146-.017.291-.05.434l-1.151 5c-.21.915-1.052 1.566-2.024 1.566H8.073L8 13.999V16Zm-.5 6a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3Zm9 0a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3ZM8 7v5h8.831L18 7H8Z"></path></svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ul class="mobile-nav">
  {% for link in linklists.main-menu.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
</ul>

{% schema %}
  {
    "name": "Header",
    "tag": "header"
  }
{% endschema %}
