<div class="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header-container">
          <h3 class="logo">Bob's Flowers</h3>
          <nav>
            <ul>
              {% for link in linklists.main-menu.links %}
                <li>
                  <a href="{{ link.url }}" class="{% if link.active %}active{% endif %}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
          <div class="right">
            <a href="/account/login">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--fe" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 12a4 4 0 1 1 0-8a4 4 0 0 1 0 8Zm0 3c3.186 0 6.045.571 8 3.063V20H4v-1.937C5.955 15.57 8.814 15 12 15Z"></path></svg>
            </a>
            <a href="/cart">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--fe" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M8 16h8a1 1 0 0 1 0 2H7a1 1 0 0 1-1-1V4H5a1 1 0 1 1 0-2h2a1 1 0 0 1 1 1v2.001L8.073 5h9.854C19.072 5 20 5.895 20 7c0 .146-.017.291-.05.434l-1.151 5c-.21.915-1.052 1.566-2.024 1.566H8.073L8 13.999V16Zm-.5 6a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3Zm9 0a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3ZM8 7v5h8.831L18 7H8Z"></path></svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ul class="mobile-nav">
  {% for link in linklists.main-menu.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
</ul>

{% schema %}
  {
    "name": "Header",
    "tag": "header"
  }
{% endschema %}
