<div class="wrapper page-wrapper wrapper--sm">
  <div class="container">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section"
}
{% endschema %}
