<div class="wrapper page-wrapper wrapper--sm">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section"
}
{% endschema %}
