<div class="wrapper product-recommendations-wrapper {{section.settings.theme}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ section.settings.title }}</h1>
      </div>
    </div>
    <div class="row">
      {% for product in section.blocks %}
        <div class="col-3">
          {% render 'product-card' product: product.settings.product %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product recommendations",
    "tag": "section",
    "presets": [
      {
        "name": "Producten aanbevelingen"
      }
    ],
    "settings": [
      {
        "type": "select",
        "label": "Thema",
        "id": "theme",
        "options": [
          {
            "label": "Default",
            "value": "default"
          },
          {
            "label": "Oranje",
            "value": "orange"
          },
          {
            "label": "Rood",
            "value": "red"
          },
          {
            "label": "Groen",
            "value": "green"
          }
        ]
      },
      {
        "label": "Titel",
        "id": "title",
        "type": "text"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "label": "Product",
            "id": "product",
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}
