<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>{{ section.settings.title }}</h2>
    </div>
  </div>
  <div class="row">
    {% for product in section.blocks %}
      <div class="col-12 col-lg-4">
        {% render 'product-card' product: product.settings.product %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Products",
    "tag": "section",
    "class": "wrapper products-wrapper",
    "presets": [
      {
        "name": "Products"
      }
    ],
    "settings": [
      {
        "type": "text",
        "label": "Titel",
        "id": "title"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ]
  }
{% endschema %}