{% assign title = "general.password_page.login_form_heading" | t %}
{% render 'static-page-header' title: title, theme: "orange" %}
<style>
  .errors ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
  }
</style>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}

          <div class="password">
            <label for="password">
              {{ "general.password_page.login_form_password_label" | t }}
              <input type="password" name="password">
            </label>
          </div>

          <div class="submit">
            <button type="submit">{{ "general.password_page.login_password_button" | t }}</button>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>