.login-wrapper,
.register-wrapper {
  margin: 3rem 0;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  form {
    .cta-container {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 0.5rem;
    }
  }

  .recover-form-container {
    margin-top: 0.5rem;
  }
}
